* {
    outline: none;
  }
  
  /* html,
  body {
    height: 100%;
    min-height: 100%;
  }
  
  body {
    margin: 0;
  }
  
  body,
  input {
    cursor: url(http://k003.kiwi6.com/hotlink/vp054ir5gt/c1.png) 32 32, auto;
    cursor: -webkit-image-set(url(http://k003.kiwi6.com/hotlink/vp054ir5gt/c1.png) 1x,url(http://k003.kiwi6.com/hotlink/z6fy599487/c2.png) 2x) 32 32, auto;
  }
  
  body:active,
  input:active {
    cursor: url(http://k003.kiwi6.com/hotlink/3p6w4icbzt/c1a.png) 32 32, auto;
    cursor: -webkit-image-set( url(http://k003.kiwi6.com/hotlink/3p6w4icbzt/c1a.png) 1x, url(http://k003.kiwi6.com/hotlink/6ma7828al1/c2a.png) 2x ) 32 32, auto;
  }
  
  #app-cover {
    position: absolute;
    top: 104%;
    right: 0;
    left: 0;
    width: 434px;
    margin: -41px auto 0 auto;
  }
  
  #app {
    position: absolute;
    width: 82px;
    height: 82px;
    border-radius: 120px;
    margin: 0 auto;
    transition: 0.15s ease width;
    z-index: 2;
    left: 0;
    right: 0;

}

  
  form {
    position: relative;
    height: 82px;
    cursor: auto;
    border-radius: 120px;
  }
  
  #f-element {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    border-radius: 120px;
  }
  
  #inp-cover {
    position: absolute;
    top: 0;
    right: 41px;
    bottom: 0;
    left: 0;
    padding: 0 35px;
    background-color: #fff;
  }
  
  input {
    display: block;
    width: 100%;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    color: #00688a;
    border: 0;
    padding: 30px 0;
    margin: 0;
    margin-top: 52px;
    line-height: 1;
    background-color: transparent;
    transition: 0.15s ease margin-top;
    cursor: auto;
  }
  
  button {
    position: absolute;
    top: 0;
    right: 0;
    width: 82px;
    height: 82px;
    color: #fff;
    font-size: 30px;
    line-height: 1;
    padding: 26px;
    margin: 0;
    border: 0;
    background-color: #1eaddc;
    transition: 0.2s ease background-color;
    border-radius: 50%;
  }
  
  button.shadow {
    box-shadow: 0 10px 30px #d0d0d0;
  }
  
  button i.fas {
    display: block;
    line-height: 1;
  }
  
  #layer {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #1eaddc;
    transition: 0.9s ease all;
    z-index: 1;
  }
  
  #layer.sl {
    transition: 0.3s ease all;
  }
  
  #layer,
  #init {
    position: absolute;
    top: 105%;
    margin: 0 auto;
  }
  
  #layer {
    right: -900vw;
    left: -900vw;
    /* width: 100%; */
    /* height: 100%; */
    /* background-color: black; */
  /* } */
  
  #init {
    right: 0;
    left: 0;
    width: 82px;
    height: 82px;
    cursor: pointer;
    z-index: 2;
  }
  









.sar{
   transition: all 3s;
   background-color: black;
}








  
  #app.opened {
    width: 434px;
    box-shadow: 0 10px 30px #0190bf;
  }
  
  .opened input.move-up {
    margin-top: 0;
  }
  
  .opened button {
    color: #1eaddc;
    background-color: #fff;
    box-shadow: none;
    cursor: pointer;
  }
  
  #app.opened + #layer {
    width: 4000px;
    height: 4000px;
    margin-top: -2000px;
    opacity: 1;
    z-index: 0;
  }
  
  #app.opened ~ #init {
    z-index: -1;
  } */

  















  /* @import url('https://fonts.googleapis.com/css?family=Inconsolata:700'); */
  * {
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
 }
  /* html, body {
	  width: 100%;
	  height: 100%;
 }
  body {
	  background: #252525;
 } */
  .contain {
	  position: relative;
	  margin: auto;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  width: 300px;
	  height: 100px;
 }
  .contain .search {
	  position: absolute;
	  margin: auto;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  width: 80px;
	  height: 80px;
	  background: crimson;
	  border-radius: 50%;
	  transition: all 1s;
	  z-index: 4;
	  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
 }
  .contain .search:hover {
	  cursor: pointer;
 }
  .contain .search::before {
	  content: "";
	  position: absolute;
	  margin: auto;
	  top: 22px;
	  right: 0;
	  bottom: 0;
	  left: 22px;
	  width: 12px;
	  height: 2px;
	  background: white;
	  transform: rotate(45deg);
	  transition: all 0.5s;
 }
  .contain .search::after {
	  content: "";
	  position: absolute;
	  margin: auto;
	  top: -5px;
	  right: 0;
	  bottom: 0;
	  left: -5px;
	  width: 25px;
	  height: 25px;
	  border-radius: 50%;
	  border: 2px solid white;
	  transition: all 0.5s;
 }
  .contain input {
	  font-family: 'Inconsolata', monospace;
	  position: absolute;
	  margin: auto;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  width: 50px;
	  height: 50px;
	  outline: none;
	  border: none;
	  background: crimson;
	  color: white;
	  text-shadow: 0 0 10px crimson;
	  padding: 0 80px 0 20px;
	  border-radius: 30px;
	  box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
	  transition: all 1s;
	  opacity: 0;
	  z-index: 5;
	  font-weight: bolder;
	  letter-spacing: 0.1em;
 }
  .contain input:hover {
	  cursor: pointer;
 }
  .contain input:focus {
	  width: 300px;
	  opacity: 1;
	  cursor: text;
 }
  .contain input:focus ~ .search {
	  right: -250px;
	  background: #151515;
	  z-index: 6;
 }
  .contain input:focus ~ .search::before {
	  top: 0;
	  left: 0;
	  width: 25px;
 }
  .contain input:focus ~ .search::after {
	  top: 0;
	  left: 0;
	  width: 25px;
	  height: 2px;
	  border: none;
	  background: white;
	  border-radius: 0%;
	  transform: rotate(-45deg);
 }
  .contain input::placeholder {
	  color: white;
	  opacity: 0.5;
	  font-weight: bolder;
 }
  



.blac{
	background-color: black;
	color: white;
	transition: all 2s;

}

.whit{
	background-color: white;
	color: black;
	transition: all 2s;
	
}



  


  *{
	margin: 0;
	padding: 0;
}


a{
	cursor:pointer;
}

p{
	padding-bottom:1rem;
	font-size: 1.1vw;
	font-weight: 500;
}

h5{
	font-weight:bold;
	color:#2b2b2b;
}

.box-shadow{
	-webkit-box-shadow: 0 1px 1px rgba(72,78,85,.6);
	box-shadow: 0 1px 1px rgba(72,78,85,.6);
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

.box-shadow:hover{
	-webkit-box-shadow: 0 20px 40px rgba(72,78,85,.6);
	box-shadow: 0 20px 40px rgba(72,78,85,.6);
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	-o-transform: translateY(-15px);
	transform: translateY(-15px);
}

.card{
	border-radius: 25px;
	
}

.card img{
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.card svg{
	position:absolute;
	top:19rem;
  -webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
	filter:drop-shadow(2px -9px 4px rgba(0, 69, 134, 0.2));
}
.card:hover svg{
	filter:drop-shadow(2px -9px 4px rgba(0, 69, 134, 0.4));
}

.card i{
	position:absolute;
	top: 17rem;
	right: 0rem;
	color:white;
	font-size:3rem;
	background: rgb(238,174,202);
	background:  rgba(252,251,251);
	padding: 0.5rem;
	border-radius: 100%;
	transition: all .6s ease-in-out;
}

.card:hover i{
	transform: rotate(-180deg);
}

.card i:hover{
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.7) 0px 18px 36px -18px inset;
}







/* Footer  */


#footer {
	color: #fff;
	font-size: 14px;
	background: #111;
  }
  
  #footer .footer-top {
	padding: 60px 0 30px 0;
	background: #1e1e1e;
  }
  
  #footer .footer-top .footer-contact {
	margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact h3 {
	font-size: 22px;
	margin: 0 0 10px 0;
	padding: 2px 0 2px 0;
	line-height: 1;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff;
  }
  
  #footer .footer-top .footer-contact p {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 0;
	font-family: "Roboto", sans-serif;
	color: rgba(255, 255, 255, 0.7);
  }
  
  #footer .footer-top h4 {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	position: relative;
	padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
	margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
	padding-right: 2px;
	color: #1ed33c;
	font-size: 18px;
	line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
	padding: 10px 0;
	display: flex;
	align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
	padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
	color: rgba(255, 255, 255, 0.6);
	transition: 0.3s;
	display: inline-block;
	line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
	text-decoration: none;
	color: #fff;
  }
  
  #footer .footer-newsletter {
	font-size: 15px;
	color: rgba(255, 255, 255, 0.7);
  }
  
  #footer .footer-newsletter h4 {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	position: relative;
	padding-bottom: 12px;
  }
  
  #footer .footer-newsletter form {
	margin-top: 30px;
	background: #fff;
	padding: 6px 10px;
	position: relative;
	border-radius: 4px 0 0 4px;
	text-align: left;
  }
  
  #footer .footer-newsletter form input[type=email] {
	border: 0;
	padding: 4px 8px;
	width: calc(100% - 100px);
  }
  
  #footer .footer-newsletter form input[type=button] {
	position: absolute;
	top: 0;
	right: -4px;
	bottom: 0;
	border: 0;
	background: none;
	font-size: 16px;
	padding: 0 20px;
	background: #1bbd36;
	color: #fff;
	transition: 0.3s;
	border-radius: 0 4px 4px 0;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #footer .footer-newsletter form input[type=button]:hover {
	background: #2ae149;
  }
  
  #footer .credits {
	padding-top: 5px;
	font-size: 13px;
	color: #fff;
  }
  
  #footer .social-links a {
	font-size: 18px;
	display: inline-block;
	background: rgba(255, 255, 255, 0.08);
	color: #fff;
	line-height: 1;
	padding: 8px 0;
	margin-right: 4px;
	border-radius: 4px;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
  }
  
  #footer .social-links a:hover {
	background: #1bbd36;
	color: #fff;
	text-decoration: none;
  }

















/* NavBar  */


/* NavBar  */


#logo1{
	border-radius: 100%;
	/* box-shadow: 7px 7px 7px grey,-7px -7px 7px grey; */
	margin-left: 30px;
  
  }
  .main-nav .navbar {
	background:transparent;
  }
  header .nav-link {
	color: white;
	font-weight: bold;
	width: fit-content;
  
	
  }
  
  /* mega menu */
  
  .mega-menu {
	left: 0;
	right: 0;
	padding: 15px;
	display:none;
	padding-top: 0;
	min-height: 100%;
  
  }
  h4.row.mega-title {
	color: #eee;
	margin-top: 0px;
	font-size: 1.5vw;
	padding-left: 15px;
	padding-bottom: 13px;
	text-transform: uppercase;
	border-bottom: 1px solid #547787;
	padding-top: 15px;
	background-color: #365670
	}
   .mega-menu ul li a {
	line-height: 25px;
	font-size: 90%;
	display: block;
	
  }
  ul.stander li a {
	  padding: 3px 0px;
  }
  
  ul.description li {
	  padding-bottom: 12px;
	  line-height: 8px;
  }
  
  ul.description li span {
	  color: #ccc;
	  font-size: 85%;
  }
  a.view-more{
	border-radius: 1px;
	margin-top:15px;
	background-color: #009FE1;
	padding: 2px 10px !important;
	line-height: 21px !important;
	display: inline-block !important;
  }
  a.view-more:hover{
	  color:#fff;
	  background:#0DADEF;
  }
  ul.icon-des li a i {
	  color: #fff;
	  width: 35px;
	  height: 35px;
	  border-radius: 50%;
	  text-align: center;
	  background-color: #009FE1;
	  line-height: 35px !important;
  }
  
  ul.icon-des li {
	  width: 100%;
	  display: table;
	  margin-bottom: 11px;
  }
  
  
  
  
  
  
  
  
  .clearfix:after,
  .clearfix:before {
	content: '';
	display: table
  }
  
  .clearfix:after {
	clear: both;
	display: block
  }
  ul{
	  list-style:none;
	  margin: 0;
	  padding: 0;
  }
  .stander a,.stander a:hover,.stander a.active,.stander a:active,.stander a:visited,.stander a:focus{
	  color:black;
	  text-decoration:none;
  }
  .content{
	  margin: 50px 100px 0px 100px;
  }
  
  .exo-menu{
	  width: 100%;
	  float: left;
	  list-style: none;
	  position:relative;
	  background: #23364B;
  }
  
  .exo-menu > li > a{
	  color: #ccc;
	  text-decoration: none;
	  text-transform: uppercase;
	  border-right: 1px #365670 dotted;
	  -webkit-transition: color 0.2s linear, background 0.2s linear;
	  -moz-transition: color 0.2s linear, background 0.2s linear;
	  -o-transition: color 0.2s linear, background 0.2s linear;
	  transition: color 0.2s linear, background 0.2s linear;
  }
  .exo-menu > li > a.active,
  .exo-menu > li > a:hover,
  li.drop-down ul > li > a:hover{
	  background:#009FE1;
	  color:#fff;
  }
  .exo-menu i {
	float: left;
	font-size: 18px;
	margin-right: 6px;
	line-height: 20px !important;
  }
  li.drop-down,
  .flyout-right,
  .flyout-left{position:relative;}
  li.drop-down:before {
	content: "\f103";
	color: #fff;
	font-family: FontAwesome;
	font-style: normal;
	display: inline;
	position: absolute;
	right: 6px;
	top: 20px;
	font-size: 14px;
  }
  li.drop-down>ul{
	  left: 0px;
	  min-width: 230px;
  
  }
  .drop-down-ul{display:none;}
  .flyout-right>ul,
  .flyout-left>ul{
	top: 0;
	min-width: 230px;
	display: none;
	border-left: 1px solid #365670;
	}
  
  li.drop-down>ul>li>a,
  .flyout-right ul>li>a ,
  .flyout-left ul>li>a {
	  color: #fff;
	  display: block;
	  padding: 20px 22px;
	  text-decoration: none;
	  background-color: #365670;
	  border-bottom: 1px dotted #547787;
	  -webkit-transition: color 0.2s linear, background 0.2s linear;
	  -moz-transition: color 0.2s linear, background 0.2s linear;
	  -o-transition: color 0.2s linear, background 0.2s linear;
	  transition: color 0.2s linear, background 0.2s linear;
  }
  .flyout-right ul>li>a ,
  .flyout-left ul>li>a {
	  border-bottom: 1px dotted #B8C7BC;
  }
  /*hover*/
  .Blog:hover,
  .Images:hover,
  .mega-menu:hover,
  .drop-down-ul:hover,
  li.flyout-left>ul:hover,
  li.flyout-right>ul:hover,
  .flyout-mega-wrap:hover,
  li.flyout-left a:hover +ul,
  li.flyout-right a:hover +ul,
  .blog-drop-down >a:hover+.Blog,
  li.drop-down>a:hover +.drop-down-ul,
  .images-drop-down>a:hover +.Images,
  .mega-drop-down a:hover+.mega-menu,
  li.flyout-mega>a:hover +.flyout-mega-wrap{
	  display:block;
  }
  /*responsive*/
   @media (min-width:767px){
	  .exo-menu > li > a{
	  display:block;
	  padding: 20px 22px;
   }
  .mega-menu, .flyout-mega-wrap, .Images, .Blog,.flyout-right>ul,
  .flyout-left>ul, li.drop-down>ul{
		  position:absolute;
  }
   .flyout-right>ul{
	  left: 100%;
	  }
	  .flyout-left>ul{
	  right: 100%;
  }
   }
  @media (max-width:767px){
  
	  .exo-menu {
		  min-height: 58px;
		  background-color: #23364B;
		  width: 100%;
	  }
	  
	  .exo-menu > li > a{
		  width:100% ;
		  display:none ;
	  
	  }
	  .exo-menu > li{
		  width:100%;
	  }
	  .display.exo-menu > li > a{
		display:block ;
			padding: 20px 22px;
	  }
	  
  .mega-menu, .Images, .Blog,.flyout-right>ul,
  .flyout-left>ul, li.drop-down>ul{
		  position:relative;
  }
  
  }
  a.toggle-menu{
	  position: absolute;
	  right: 0px;
	  padding: 20px;
	  font-size: 27px;
	  background-color: #ccc;
	  color: #23364B;
	  top: 0px;
  }
  *,
  :after,
  :before {
	box-sizing: border-box
  }
  
  .clearfix:after,
  .clearfix:before {
	content: '';
	display: table
  }
  
  .clearfix:after {
	clear: both;
	display: block
  }
  ul{
	  list-style:none;
	  margin: 0;
	  padding: 0;
  }
  a, a:hover, a.active, a:active, a:visited, a:focus{
	  color:#fefefe;
	  text-decoration:none;
  }
  .content{
	  margin: 50px 100px 0px 100px;
  }
  
  .exo-menu{
	  width: 100%;
	  float: left;
	  list-style: none;
	  position:relative;
	  background: #23364B;
  }
  .exo-menu > li
  .exo-menu > li > a{
	  color: #ccc;
	  text-decoration: none;
	  text-transform: uppercase;
	  border-right: 1px #365670 dotted;
	  -webkit-transition: color 0.2s linear, background 0.2s linear;
	  -moz-transition: color 0.2s linear, background 0.2s linear;
	  -o-transition: color 0.2s linear, background 0.2s linear;
	  transition: color 0.2s linear, background 0.2s linear;
  }
  .exo-menu > li > a.active,
  .exo-menu > li > a:hover,
  li.drop-down ul > li > a:hover{
	  background:#009FE1;
	  color:#fff;
  }
  .exo-menu i {
	float: left;
	font-size: 18px;
	margin-right: 6px;
	line-height: 20px !important;
  }
  li.drop-down,
  .flyout-right,
  .flyout-left{position:relative;}
  li.drop-down:before {
	content: "\f103";
	color: #fff;
	font-family: FontAwesome;
	font-style: normal;
	display: inline;
	position: absolute;
	right: 6px;
	top: 20px;
	font-size: 14px;
  }
  li.drop-down>ul{
	  left: 0px;
	  min-width: 230px;
  
  }
  .drop-down-ul{display:none;}
  .flyout-right>ul,
  .flyout-left>ul{
	top: 0;
	min-width: 230px;
	display: none;
	border-left: 1px solid #365670;
	}
  
  li.drop-down>ul>li>a,
  .flyout-right ul>li>a ,
  .flyout-left ul>li>a {
	  color: #fff;
	  display: block;
	  padding: 20px 22px;
	  text-decoration: none;
	  background-color: #365670;
	  border-bottom: 1px dotted #547787;
	  -webkit-transition: color 0.2s linear, background 0.2s linear;
	  -moz-transition: color 0.2s linear, background 0.2s linear;
	  -o-transition: color 0.2s linear, background 0.2s linear;
	  transition: color 0.2s linear, background 0.2s linear;
  }
  .flyout-right ul>li>a ,
  .flyout-left ul>li>a {
	  border-bottom: 1px dotted #B8C7BC;
  }
  
  
  /*Flyout Mega*/
  .flyout-mega-wrap {
	  top: 0;
	  right: 0;
	  left: 100%;
	  width: 100%;
	  display:none;
	  height: 100%;
	  padding: 15px;
	  min-width: 742px;
  
  }
  h4.row.mega-title {
	color:#eee;
	margin-top: 0px;
	font-size: 14px;
	padding-left: 15px;
	padding-bottom: 13px;
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
   }
  .flyout-mega ul > li > a {
	font-size: 90%;
	line-height: 25px;
	color: #fff;
	font-family: inherit;
  }
  .flyout-mega ul > li > a:hover,
  .flyout-mega ul > li > a:active,
  .flyout-mega ul > li > a:focus{
	text-decoration: none;
	background-color: transparent !important;
	color: #ccc !important
  }
  
  .mega-menu {
	left: 0;
	right: 0;
	padding: 15px;
	display:none;
	padding-top: 0;
	min-height: 100%;
  
  }
  h4.row.mega-title {
	color: #eee;
	margin-top: 0px;
	font-size: 14px;
	padding-left: 15px;
	padding-bottom: 13px;
	text-transform: uppercase;
	border-bottom: 1px solid #547787;
	padding-top: 15px;
	background-color: #365670
	}
   .mega-menu ul li a {
	line-height: 25px;
	font-size: 90%;
	display: block;
  }
  ul.stander li a {
	  padding: 3px 0px;
  }
  
  ul.description li {
	  padding-bottom: 12px;
	  line-height: 8px;
  }
  
  ul.description li span {
	  color: #ccc;
	  font-size: 85%;
  }
  a.view-more{
	border-radius: 1px;
	margin-top:15px;
	background-color: #009FE1;
	padding: 2px 10px !important;
	line-height: 21px !important;
	display: inline-block !important;
  }
  a.view-more:hover{
	  color:#fff;
	  background:#0DADEF;
  }
  ul.icon-des li a i {
	  color: #fff;
	  width: 35px;
	  height: 35px;
	  border-radius: 50%;
	  text-align: center;
	  background-color: #009FE1;
	  line-height: 35px !important;
  }
  
  ul.icon-des li {
	  width: 100%;
	  display: table;
	  margin-bottom: 11px;
  }
  /*Blog DropDown*/
  .Blog{
	  left:0;
	  display:none;
	  color:#fefefe;
	  padding-top:15px;
	  background:#547787;
	  padding-bottom:15px;
  }
  .Blog .blog-title{
	  color:#fff;
	  font-size:15px;
	  text-transform:uppercase;
  
  }
  .Blog .blog-des{
	  color:#ccc;
	  font-size:90%;
	  margin-top:15px;
  }
  .Blog a.view-more{
	  margin-top:0px;
  }
  /*Images*/
  .Images{
	  left:0;
	 width:100%;
	   display:none;
	  color:#fefefe;
	  padding-top:15px;
	  background:#547787;
	  padding-bottom:15px;
  }
  .Images h4 {
	font-size: 15px;
	margin-top: 0px;
	text-transform: uppercase;
  }
  /*common*/
  .flyout-right ul>li>a ,
  .flyout-left ul>li>a,
  .flyout-mega-wrap,
  .mega-menu{
	  background-color: #547787;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .hvr-sweep-to-right {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
  }
  .hvr-sweep-to-right:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #0b1418;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
  }
  .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
	color: white!important;
  }
  .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* Underline From Left */
  .hvr-underline-from-left {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
  }
  .hvr-underline-from-left:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 100%;
	bottom: 0;
	background: black;
	height: 4px;
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
	right: 0;
  }
 












  #hero {
	width: 100%;
	height: 80vh;
	/* background: #37517e; */
	background-image: url('1670887.jpg');
	opacity: 0.9;
	background-attachment: fixed;
	background-size: cover;
	
  }
  
  
  #hero .container {
	padding-top: 72px;
  }
  
  #hero h1 {
	margin: 0 0 10px 0;
	font-size: 99px;
	font-weight: 700;
	/* line-height: 56px; */
	color: #fff;
	font-weight: bold;
  }
  
  #hero h2 {
	/* color: rgba(255, 255, 255, 0.6); */
	margin-bottom: 50px;
	font-size: 55px;
	color: white;
	font-weight: bold;
  }
  
  #hero .btn-get-started {
	font-family: "Jost", sans-serif;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 10px 28px 11px 28px;
	border-radius: 50px;
	transition: 0.5s;
	margin: 10px 0 0 0;
	color: #fff;
	background: red;
	text-decoration: none;
  }
  
  #hero .btn-get-started:hover {
	background: #030303;
  }
  
  #hero .btn-watch-video {
	font-size: 16px;
	display: flex;
	align-items: center;
	transition: 0.5s;
	margin: 10px 0 0 25px;
	color: #fff;
	line-height: 1;
  }
  
  #hero .btn-watch-video i {
	line-height: 0;
	color: #fff;
	font-size: 32px;
	transition: 0.3s;
	margin-right: 8px;
  }
  
  #hero .btn-watch-video:hover i {
	color: #47b2e4;
  }
  
  #hero .animated {
	animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  
  @media (max-width: 991px) {
	#hero {
	  height: 100vh;
	  text-align: center;
	}
  
	#hero .animated {
	  -webkit-animation: none;
	  animation: none;
	}
  
	#hero .hero-img {
	  text-align: center;
	}
  
	#hero .hero-img img {
	  width: 50%;
	}
  }
  
  @media (max-width: 768px) {
	#hero h1 {
	  font-size: 28px;
	  line-height: 36px;
	}
  
	#hero h2 {
	  font-size: 18px;
	  line-height: 24px;
	  margin-bottom: 30px;
	}
  
	#hero .hero-img img {
	  width: 70%;
	}
  }
  
  @media (max-width: 575px) {
	#hero .hero-img img {
	  width: 80%;
	}
  
	#hero .btn-get-started {
	  font-size: 16px;
	  padding: 10px 24px 11px 24px;
	}
  }
  
  @-webkit-keyframes up-down {
	0% {
	  transform: translateY(10px);
	}
  
	100% {
	  transform: translateY(-10px);
	}
  }
  
  @keyframes up-down {
	0% {
	  transform: translateY(10px);
	}
  
	100% {
	  transform: translateY(-10px);
	}
  }





  .cta {
    background: url("27991.jpg") fixed center center;
    background-size: cover;
    padding: 120px 0;
  }
  
  .cta h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
  }
  
  .cta p {
    color: #fff;
  }
  
  .cta .cta-btn {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
  }
  
  .cta .cta-btn:hover {
    background: #47b2e4;
    border: 2px solid #47b2e4;
  }
  
  @media (max-width: 1024px) {
    .cta {
      background-attachment: scroll;
    }
  }
  
  @media (min-width: 769px) {
    .cta .cta-btn-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }